#C2{
    -fx-fill: #006080;
    -fx-stroke: black;
}
#C3{
    -fx-fill: #33ccff;
    -fx-stroke: black;
}

#D2{
    -fx-fill: #007399;
    -fx-stroke: black;
}
    

#D3{
    -fx-fill: #4dd2ff;
    -fx-stroke: black;
}
#E2{
    -fx-fill: #0086b3;
    -fx-stroke: black;
}
#E3{
    -fx-fill: #66d9ff;
    -fx-stroke: black;
}
#F2{
    -fx-fill: #0099cc;
    -fx-stroke: black;
}
#F3{
    -fx-fill: #80dfff;
    -fx-stroke: black;
}
#G2{
    -fx-fill: #00ace6;
    -fx-stroke: black;
}
#G3{
    -fx-fill: #99e6ff;
    -fx-stroke: black;
}
#A2{
    -fx-fill: #00bfff;
    -fx-stroke: black;
}
#A3{
    -fx-fill: black;
    -fx-stroke: black;
}
#B2{
    -fx-fill: #1ac6ff;
    -fx-stroke: black;
}
#B3{
    -fx-fill: #b3ecff;
    -fx-stroke: black;
}
#C2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#C3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#D2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#D3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#F2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#F3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#G2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#G3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#B2f{
    -fx-fill: black;
    -fx-stroke: black;
}
#B3f{
    -fx-fill: black;
    -fx-stroke: black;
}