#C2{
    -fx-fill: #330000;
    -fx-stroke: black;
}
#C3{
    -fx-fill: #e60000;
    -fx-stroke: black;
}
#D2{
    -fx-fill: #4d0000;
    -fx-stroke: black;
}
#D3{
    -fx-fill: #ff0000;
    -fx-stroke: black;
}
#E2{
    -fx-fill: #660000;
    -fx-stroke: black;
}
#E3{
    -fx-fill: #ff1a1a;
    -fx-stroke: black;
}
#F2{
    -fx-fill: #800000;
    -fx-stroke: black;
}
#F3{
    -fx-fill: #ff3333;
    -fx-stroke: black;
}
#G2{
    -fx-fill: #990000;
    -fx-stroke: black;
}
#G3{
    -fx-fill: #ff4d4d;
    -fx-stroke: black;
}
#A2{
    -fx-fill: #b30000;
    -fx-stroke: black;
}
#A3{
    -fx-fill: #ff6666;
    -fx-stroke: black;
}
#B2{
    -fx-fill: #cc0000;
    -fx-stroke: black;
}
#B3{
    -fx-fill: #ff8080;
    -fx-stroke: black;
}
#C2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#C3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#D2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#D3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#F2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#F3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#G2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#G3s{
    -fx-fill: black;
    -fx-stroke: black;
    
}
#B2f{
    -fx-fill: black;
    -fx-stroke: black;
}
#B3f{
    -fx-fill: black;
    -fx-stroke: black;
}