#C2{
    -fx-fill: #800080;
    -fx-stroke: black;
}
#C3{
    -fx-fill: #ffcc00;
    -fx-stroke: black;
}
#D2{
    -fx-fill: #400080;
    -fx-stroke: black;
}
#D3{
    -fx-fill: #ff9933;
    -fx-stroke: black;
}
#E2{
    -fx-fill: #0000e6;
    -fx-stroke: black;
}
#E3{
    -fx-fill: #ff6600;
    -fx-stroke: black;
}
#F2{
    -fx-fill: #2d8659;
    -fx-stroke: black;
}
#F3{
    -fx-fill: #ff0000;
    -fx-stroke: black;
}
#G2{
    -fx-fill: #00e600;
    -fx-stroke: black;
}
#G3{
    -fx-fill: #cc0066;
    -fx-stroke: black;
}
#A2{
    -fx-fill: #bbff33;
    -fx-stroke: black;
}
#A3{
    -fx-fill: #cc3399;
    -fx-stroke: black;
}
#B2{
    -fx-fill: #ffff00;
    -fx-stroke: black;
}
#B3{
    -fx-fill: #800080;
    -fx-stroke: black;
}
#C2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#C3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#D2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#D3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#F2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#F3s{
    -fx-fill: black;
    -fx-stroke: black;
}
#G2s{
    -fx-fill: black;
    -fx-stroke: black;
}
#G3s{
    -fx-fill: black;
    -fx-stroke: black;
    
}
#B2f{
    -fx-fill: black;
    -fx-stroke: black;
}
#B3f{
    -fx-fill: black;
    -fx-stroke: black;
}