#C2{
    -fx-fill: black;
    -fx-stroke: white;
}
#C3{
    -fx-fill: black;
    -fx-stroke: white;
}

#D2{
    -fx-fill: black;
    -fx-stroke: white;
}
    

#D3{
    -fx-fill: black;
    -fx-stroke: white;
}
#E2{
    -fx-fill: black;
    -fx-stroke: white;
}
#E3{
    -fx-fill: black;
    -fx-stroke: white;
}
#F2{
    -fx-fill: black;
    -fx-stroke: white;
}
#F3{
    -fx-fill: black;
    -fx-stroke: white;
}
#G2{
    -fx-fill: black;
    -fx-stroke: white;
}
#G3{
    -fx-fill: black;
    -fx-stroke: white;
}
#A2{
    -fx-fill: black;
    -fx-stroke: white;
}
#A3{
    -fx-fill: black;
    -fx-stroke: white;
}
#B2{
    -fx-fill: black;
    -fx-stroke: white;
}
#B3{
    -fx-fill: black;
    -fx-stroke: white;
}
#C2s{
    -fx-fill: white;
    -fx-stroke: white;
}
#C3s{
    -fx-fill: white;
    -fx-stroke: white;
}
#D2s{
    -fx-fill: white;
    -fx-stroke: white;
}
#D3s{
    -fx-fill: white;
    -fx-stroke: white;
}
#F2s{
    -fx-fill: white;
    -fx-stroke: white;
}
#F3s{
    -fx-fill: white;
    -fx-stroke: white;
}
#G2s{
    -fx-fill: white;
    -fx-stroke: white;
}
#G3s{
    -fx-fill: white;
    -fx-stroke: white;
}
#B2f{
    -fx-fill: white;
    -fx-stroke: white;
}
#B3f{
    -fx-fill: white;
    -fx-stroke: white;
}